
trigger:
  # branches:
  #   include:
      - features/*
      - main

pool: spiderman 

variables :
  workDir : '$(System.DefaultWorkingDirectory)/environment/dev'
 
stages:
  - stage: Build
    displayName: Build
    jobs:
      - job: TerraformInstallation
        displayName: Terraform Init and Plan Job 
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: $(workDir)
            backendServiceArm: 'Azure-to-ado-svc'
            backendAzureRmResourceGroupName: 'yuvi'
            backendAzureRmStorageAccountName: 'yuvistg'
            backendAzureRmContainerName: 'yuvicntr'
            backendAzureRmKey: 'backup.tfstate'

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'validate'
            workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
            environmentServiceNameAzureRM: 'Azure-to-ado-svc'
  # - stage: Scanning 
  #   displayName: Scanning
  #   jobs: 
  #     -job: TF-Sec-Scanning-Job
  #     displayName: Scanning by TF-Sec
  #     pool: spiderman
  #     steps:
  #     - task:  


